adventure/**                             @aikaterna @Kennnyshiwa
adventure/charsheet.py                   @aikaterna @TrustyJAID @Kennnyshiwa
adventure/adventure.py                   @aikaterna @TrustyJAID @Kennnyshiwa
adventure/bank.py                        @Drapersniper @Kennnyshiwa
adventure/menus.py                       @Drapersniper @Kennnyshiwa

change_logs/**                           @aikaterna @Kennnyshiwa
README.md                                @aikaterna @Kennnyshiwa